[submodule "vendor/libkrunfw"]
	path = vendor/libkrunfw
	url = https://github.com/digdir/libkrunfw.git
	branch = main-digdir
[submodule "examples/root-bind/rootfs-alpine"]
	path = examples/rust/root-bind/rootfs-alpine
	url = https://github.com/superradcompany/rootfs-alpine
[submodule "examples/root-block/qcow2-alpine"]
	path = examples/rust/root-block/qcow2-alpine
	url = https://github.com/superradcompany/qcow2-alpine
[submodule "examples/rust/volume-disk/sample-images"]
	path = examples/rust/volume-disk/sample-images
	url = https://github.com/superradcompany/sample-images
